:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
}

a {
  color: #61dafb;
  text-decoration: none;
}
a:hover {
  color: #40e0d0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #61dafb;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #282c34;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #61dafb;
  color: #1a1a1a;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a {
    color: #646cff;
  }
  button {
    background-color: #f9f9f9;
    color: #213547;
  }
  button:hover {
    background-color: #646cff;
    color: white;
  }
}
